<h1>Stupid Coaching</h1>

<div class = "divider">
<p>YOU</p>
<p><%= @question %></p>
</div>

<div class = "divider">
<p>YOUR COACH</p>
<p><%= @answer %></p>
</div>

<p><%= link_to "Ask a new question", ask_path %></p>
